<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="persistance" class="redis.clients.jedis.Jedis.NLRedisPersistanceImpl">
		<property name="host" value="localhost" />
	</bean>
 	<bean id="sub" class="redis.clients.jedis.Jedis.NLRedisSubscriberImpl">
		<property name="host" value="localhost" />
	</bean>
	<bean id="pub" class="redis.clients.jedis.Jedis.NLRedisPublisherImpl">
		<property name="host" value="localhost" />
	</bean>
	
</beans>